.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}

.App-header {
  background-color: #1e1e2f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para AppBar */
.styled-app-bar {
  background-color: #333; /* Fondo oscuro */
  z-index: 1100; /* Asegura que el AppBar esté por encima de otros elementos */
}

/* Estilos para Toolbar */
.styled-toolbar {
  justify-content: space-between;
}

/* Estilos para NavButton */
.nav-button {
  margin: 8px; /* theme.spacing(1) equivale a 8px por defecto */
  color: #fff; /* Texto blanco */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  font-size: 16px; /* Tamaño de fuente */
}

.nav-button:hover {
  background-color: #555; /* Fondo más claro al pasar el ratón */
}

/* Estilos para el contenedor del nombre de la compañía */
.company-name {
  color: #fff; /* Texto blanco */
  margin-right: 16px; /* Ajusta el margen según sea necesario */
}

.main-content {
  margin-top: 64px; /* Adjust according to the height of the AppBar */
}